#kot {
	color: #ffffff;
	font-size: 40px;
	border-radius: 8px;
	border-color: #3344ff;
	background-color: #086afc;
border: 0;
font-weight: 600;
}
#text {
	background-color: #3344ff;
	border: 20px;
	font-size: 150px;
	width: 195px;
  border-radius: 100%;
	margin: auto;
	padding: 0px;
}
#q {
	width: 190px;
	height: 60px;
	padding: 15px;
	margin: 16px;
	align-items: flex-end;
}
#qq {
	width: 150px;
}
#qty {
	margin: auto;
}
#text1 {
  text-shadow: 6px;
}
li {
	font-size: 20px;
}
