body {
	font-family: sams-serif;
	background: url(g.jpg) #010101 fixed;
	background-repeat: no-repeat;
	background-size: contain;
}
a {
		text-decoration: none;
}
#header {
	border: 1px solid #05b7ba;
	backgroung-color: #dfdfdf;
	min-width: 50px;
	text-aling: justify;
	padding-top: 18px;
}
div#ggg {
	background-color: #160d04;
	padding: 2px;
	margin: 0;
	width: 100%;
	cursor: row-resize; 
}
#header a {
	color:#4d4d4d;
	font-size: 20px;
	font_weight: 100;
	text_align: right;
	height: 30px;
	line-height: 30px;
display: inline-block;
background: rgba(0,0,0,0.9);
opacity: 0.8;
}
#header a:hover {
	color: #0071ff;
	text-decoration: none;
	background: #ac2e2e;
	font-size: 22px;
	animation:
}
#t a:focus {
	margin: 0px;
	background: #33ffaa;
}
#t a {
	background: #078dc7 no-repeat;
	padding: 3px;
	width: 120px;
	display: block;
	font: bold 150%/0% Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
}
#t a:hover {
		color: #0071da;
		text-decoration: none;
		background: #ac2e2e;
}
